/* Font-variables */

$xxl: 50px;
$xl: 48px;
$l: 46px;
$m: 24px;
$s: 20px;
$xs: 18px;
$xxs: 16px;

/*Color-variables */

$green:#F16B56;
$blue: #3a7dda;
$grey: #777777;
$background-grey: #F3F3F3;
$cream: #FDFDFD;
$brownish-grey: #8C6666;
$white: #fafafa;
$yellow: #ffbc3e;

$height: 970px;
/* font-weight */

$base-font-weight: 300;
$headings-font-weight: 600;
$animation-speed: .3s;